<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Estilizado</title>
    <link rel="stylesheet" href="/style_formularioParticipante.css"> 
    
</head>
<body>
    <div class="container">
        <h1>Create Participant and Registration number</h1>
        <form action="#" th:action="@{/data}" method="POST" enctype="multipart/form-data">
            <label for="legal-name">Legal name *</label>
            <input type="text" id="legal-name" name="legal-name" required>

            <div class="lrn-group">
                <label for="registration-number">Legal registration number (LRN) *</label>
                <div class="radio-group">
                    <label><input type="radio" name="lrn-type" value="EORI" required> EORI</label>
                    <label><input type="radio" name="lrn-type" value="vatID" required> vatID</label>
                    <label><input type="radio" name="lrn-type" value="leiCode" required> leiCode</label>
                </div>
                <input type="text" id="registration-number" name="registration-number" required>

                <div class="form-row">
                    <div>
                        <label for="verifiable-id-LRN">LRN Verifiable Credential ID *</label>
                        <input type="text" id="verifiable-id-LRN" name="verifiable-id-LRN" required>
                    </div>
                    <div>
                        <label for="credential-subject-id-LRN">LRN Credential Subject ID *</label>
                        <input type="text" id="credential-subject-id-LRN" name="credential-subject-id-LRN" required>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div>
                    <label for="headquarter-address">Headquarter address (ISO 3166-2) *</label>
                    <input type="text" id="headquarter-address" name="headquarter-address" value="BE-BRU" required>
                </div>
                <div>
                    <label for="legal-address">Legal address (ISO 3166-2) *</label>
                    <input type="text" id="legal-address" name="legal-address" value="BE-BRU" required>
                </div>
            </div>

            <label for="verifiable-id">Verifiable Credential ID</label>
            <input type="text" id="verifiable-id" name="verifiable-id">

            <label for="credential-subject-id">Credential Subject ID</label>
            <input type="text" id="credential-subject-id" name="credential-subject-id">


            <button type="submit" class="sendparticipant-button">Enviar</button>
        </form>
    </div>
</body>
</html>


