<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firmador</title>
    <link rel="stylesheet" href="style_index.css">

</head>
<body>
    <div class="container">    
        <h1>FIRMADOR</h1>
        <form action="/startParticipant" method="GET" enctype="multipart/form-data"> 
            <button type="submit" class="participant-button">PARTICIPANT</button>
        </form>
    </div>
</body>
</html>
