<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firmador</title>


    <link rel="stylesheet" href="/style_index.css"> 
    <h1>FIRMADOR</h1>




</head>




<body>
    <div class="container">    
        <form th:action="@{/startParticipant}" method="GET" enctype="multipart/form-data"> 
            <button type="submit" class="participant-button">PARTICIPANT</button>
        </form>
    </div>
</body>





</html>
