<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participant VCs in 4 steps</title>
   
    <link rel="stylesheet" href="/style_principal.css"> 


</head>
<body>
<form th:action="@{/createParticipant}" method="GET" enctype="multipart/form-data"> 
       
    
    <div class="center-content">
        <div class="container">
            <div class="steps">
                <div class="step">
                    <div class="step-number">1</div>
                    Start
                </div>
                <div class="step">
                    <div class="step-number">2</div>
                    Participant & Registration Number
                </div>
                <div class="step">
                    <div class="step-number">3</div>
                    Terms & Conditions
                </div>
                <div class="step">
                    <div class="step-number">4</div>
                    Sign
                </div>
            </div>
            <div class="title">Participant VCs en 4 pasos</div>
            <div class="description">
                Siga los pasos para emitir las credenciales verificables necesarias para aprobar el cumplimiento.
                Una vez completado, obtendrá 3 credenciales verificables: participante legal, número de registro legal y términos y condiciones.
            </div>
            
            <button type="submit" class="start-button">START</button>
           
        </div>
    </div>
 <form>
</body>
</html>
