body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2e2885; /* Color de fondo púrpura */
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

h1 {
    color: white;
    font-size: 3rem;
}

.participant-button {
    background-color: #9ae3e2; /* Color azul claro */
    border: none;
    border-radius: 25px; /* Asegura bordes redondeados */
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #2e2885;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.participant-button:hover {
    background-color: #82c9c8;
}
