<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduce datos</title>
    <link rel="stylesheet" href="./style_peticionDatos.css">


    <script>

         // Guardar los datos de los inputs en LocalStorage al escribir
         function saveToLocalStorage() {
            document.querySelectorAll('input, textarea, select').forEach((field) => {
                field.addEventListener('input', () => {
                    localStorage.setItem(field.id, field.value); 
                });
            });

            // Guardar valores de los campos ocultos en LocalStorage
            document.querySelectorAll('input[type="hidden"]').forEach((hiddenField) => {
                if (hiddenField.value) {
                    localStorage.setItem(hiddenField.id, hiddenField.value);
                }
            });
        }

        // Cargar los datos de LocalStorage al cargar la página
        function loadFromLocalStorage() {
            document.querySelectorAll('input, textarea, select').forEach((field) => {
                const savedValue = localStorage.getItem(field.id);
                if (savedValue) {
                    if (field.type === 'checkbox') {
                        field.checked = savedValue === 'true'; 
                    } else {
                        field.value = savedValue;
                    }
                }
            });

            // Cargar valores de los campos ocultos desde LocalStorage
            document.querySelectorAll('input[type="hidden"]').forEach((hiddenField) => {
                const savedValue = localStorage.getItem(hiddenField.id);
                if (savedValue) {
                    hiddenField.value = savedValue;
                }
            });

            
        }

        function navigateToStep(stepNumber) {
            let formAction = "";
            let previousStep = stepNumber - 1;

            if (localStorage.getItem("step" + stepNumber) !== "true") {
                alert("Por favor, complete el paso anterior antes de continuar.");
                return;  
            }

            // Asignar la URL 
            if (stepNumber === 1) {
                formAction = "startParticipant";  
            } else if (stepNumber === 2) {
                formAction = "createParticipant";  
            } else if (stepNumber === 3) {
                formAction = "data"; 
            } else if (stepNumber === 4) {
                formAction = "termsAndConditions"; 
            }

            window.location.href = formAction;
        }

        // Ejecutar las funciones al cargar la página y marco el paso como activo
        window.onload = function () {
            loadFromLocalStorage();
            saveToLocalStorage();

            let activeStepElement = document.querySelector('.step.active');
    
            if (activeStepElement) {
                let currentStep = parseInt(activeStepElement.querySelector('.step-number').innerText);
                
                localStorage.setItem("step" + currentStep, "true");

                for (let i = 1; i <= currentStep; i++) {
                    localStorage.setItem("step" + i, "true");
                }
            }
        };

        function visibilidadContrasena() {
            var contrasena = document.getElementById("contrasena");
            if (contrasena.type === "password") {
                contrasena.type = "text";
            } else {
                contrasena.type = "password";
            }
        }

    </script>
</head>
<body>
    <div class="main-container">
        <div class="steps">
            <div class="step" onclick="navigateToStep(1)">
                <div class="step-number">1</div>
                Start
            </div>
            <div class="step" onclick="navigateToStep(2)">
                <div class="step-number">2</div>
                Participant & Registration Number
            </div>
            <div class="step" onclick="navigateToStep(3)">
                <div class="step-number">3</div>
                Terms & Conditions
            </div>
            <div class="step active" onclick="navigateToStep(4)">
                <div class="step-number">4</div>
                Sign
            </div>
        </div>

        <div class="container">
            <form action="#" th:action="@{/upload}" method="POST" enctype="multipart/form-data" onsubmit="saveHiddenFieldsToLocalStorage()">
                <h2>Import signed documents</h2>

                <div class="error-message" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>

                <div class="form-group">
                    <label for="archivo">Archivo:</label>
                    <input type="file" name="archivo" id="archivo" required />
                </div>

                <div class="form-group">
                    <label for="seleccion">Alias:</label>
                    <select name="seleccion" id="seleccion" required>
                        <option value="1">1</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="contrasena">Contraseña:</label>
                    <input type="password" name="contrasena" id="contrasena" required />
                </div>

                <div class="form-group">
                    <input type="checkbox" name="check" id="check" onclick="visibilidadContrasena()" />
                    <label for="check"> Mostrar contraseña</label>
                </div>

                <input type="hidden" id="json" name="json" th:value="${jsonResponse}" />
                <input type="hidden" id="lrn" name="lrn" th:value="${lrn}" />
                <input type="hidden" id="tYc" name="tYc" th:value="${tYc}" />
                <input type="hidden" id="verifiableIdTerminos" name="verifiableIdTerminos" th:value="${verifiableIdTerminos}" />
                <input type="hidden" id="verifiableIdParticipant" name="verifiableIdParticipant" th:value="${verifiableIdParticipant}" />

                <button type="submit">Crear JWS</button>
            </form>
        </div>
    </div>
</body>
</html>
