
 body {
    font-family: Arial, sans-serif;
    background-color: #f4f5f7;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 900px;
    padding: 50px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #333;
    text-align: center;
}


.steps {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.step {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-weight: 600;
    border: 2px solid #ccc;
    border-radius: 20px;
    color: #888;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 10px; 
}

.step.active {
    background-color: #664de5;
    color: #fff;
    border-color: #664de5;
}

.step-number {
    background-color: #fff;
    color: #664de5;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px; 
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.step.active .step-number {
    background-color: #fff;
    color: #664de5;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    margin-top: 5px;
    font-size: 1rem;
    color: #333;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus {
    outline: none;
    border-color: #664de5;
    background-color: #fff;
}


.title {
    font-size: 2rem; 
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}


.description {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 30px;
}

.start-button {
    background-color: #664de5;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.start-button:hover {
    background-color: #563dca;
}


.button-container {
    display: flex;
    justify-content: center;
}