<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participant VCs en 4 pasos</title>
    <link rel="stylesheet" href="./style_principal.css">

    <script>

            
            
        //asignar URL y redirigir
        function navigateToStep(stepNumber) {
            
            let formAction = "";
            let previousStep = stepNumber - 1;

            if (localStorage.getItem("step" + stepNumber) !== "true") {
            // Si el paso no está marcado como completado, mostrar mensaje de error
            alert("Por favor, complete el paso anterior antes de continuar.");
            return;  
            }
           
                       
            if (stepNumber === 1) {
                formAction = "principalService";  
            } else if (stepNumber === 2) {
                formAction = "startServiceOffering";  
            } else if (stepNumber ===3) {
                formAction = "createService";  
            } 

            window.location.href = formAction;


         
        }

        // Marcar el paso activo como completado en localStorage y limpiar el localstorage antes de empezar
        window.onload = function() {

            localStorage.clear();

            let activeStepElement = document.querySelector('.step.active');

            if (activeStepElement) {
                let currentStep = parseInt(activeStepElement.querySelector('.step-number').innerText);
                
                localStorage.setItem("step" + currentStep, "true");

                for (let i = 1; i <= currentStep; i++) {
                    localStorage.setItem("step" + i, "true");
                }
            }
        }

    </script>

</head>
<body>
    <form th:action="@{/startServiceOffering}" method="GET" enctype="multipart/form-data"> 
        <div class="center-content">
            <div class="container">
                <div class="title">Service Offering</div>
                <div class="steps">
                    <div class="step active" onclick="navigateToStep(1)">
                        <div class="step-number">1</div>
                        Start
                    </div>
                    <div class="step" onclick="navigateToStep(2)">
                        <div class="step-number" >2</div>
                        Service Offering
                    </div>
                    <div class="step" onclick="navigateToStep(3)">
                        <div class="step-number">3</div>
                        Sign
                    </div>
                    
                </div>
                <div class="description">
                    Siga los pasos para emitir la credencial Service Offering, para ello vas a necesitar tener la de participante, numero de registro legal y la de terminos y cndiciones
                </div>
                
                <div class="buttons-wrapper">
                    <form th:action="@{/startServiceOffering}" method="GET" enctype="multipart/form-data"> 
                        <button type="submit" class="start-button">START</button>
                    </form>
                
                    <form th:action="@{/}" method="GET" enctype="multipart/form-data">
                        <button type="submit" class="start-button secondary-button">IR A LA PAGINA PRINCIPAL</button>
                    </form>
                </div>
            </div>
        </div>
    </form>

    
</body>
</html>