<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduce datos</title>
    <link rel="stylesheet" href="./style_peticionDatos.css">

    <style>
        .error-message {
            background-color: #f8d7da;  
            color: #721c24;            
            border: 1px solid #f5c2c7; 
            padding: 15px;
            border-radius: 5px;        
            margin-bottom: 20px;        
            font-size: 14px;
            font-weight: bold;
        }
    </style>
    

    <script>

    
        function visibilidadContrasena() {
            var contrasena = document.getElementById("contrasena");
            if (contrasena.type === "password") {
                contrasena.type = "text";
            } else {
                contrasena.type = "password";
            }
        }

    </script>
</head>
<body>


        <div class="container">
            <form action="#" th:action="@{/uploadService}" method="POST" enctype="multipart/form-data" onsubmit="saveHiddenFieldsToLocalStorage()">
                <h2>Import signed documents</h2>

                <div class="error-message" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>

                <div class="form-group">
                    <label for="archivo">Archivo:</label>
                    <input type="file" name="archivo" id="archivo" required />
                </div>

                <div class="form-group">
                    <label for="seleccion">Alias:</label>
                    <select name="seleccion" id="seleccion" required>
                        <option value="1">1</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="contrasena">Contraseña:</label>
                    <input type="password" name="contrasena" id="contrasena" required />
                </div>

                <div class="form-group">
                    <input type="checkbox" name="check" id="check" onclick="visibilidadContrasena()" />
                    <label for="check"> Mostrar contraseña</label>
                </div>

                <input type="hidden" id="jsonServices_sinproof" name="jsonServices_sinproof" th:value="${jsonServices_sinproof}" />
              

                <button type="submit">Crear JWS</button>
            </form>
        </div>
    </div>
</body>
</html>
