<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduce datos</title>
    <link rel="stylesheet" href="./style_peticionDatosServicios.css">

    <script>
        function cargarCredenciales(tipo) {
            const select = document.getElementById(`${tipo}Select`);
            select.innerHTML = "<option value=''>Seleccionar credencial...</option>";
            
            for (let i = 0; i < sessionStorage.length; i++) {
                const key = sessionStorage.key(i);
                const option = document.createElement("option");
                option.value = key;
                option.textContent = key;
                select.appendChild(option);
            }
        }

        function actualizarCredencialSeleccionada(tipo) {
            const select = document.getElementById(`${tipo}Select`);
            const selectedKey = select.value;
            const input = document.getElementById(`${tipo}Input`);
            const statusContainer = document.getElementById(`${tipo}Status`);

            if (selectedKey) {
                const credencial = sessionStorage.getItem(selectedKey);
                input.value = credencial;
                statusContainer.textContent = "Seleccionado";
                statusContainer.className = "search-status success";
            } else {
                input.value = "";
                statusContainer.textContent = "No seleccionado";
                statusContainer.className = "search-status error";
            }
        }
        function saveToLocalStorage() {
            document.querySelectorAll('input, textarea, select').forEach((field) => {
                field.addEventListener('input', () => {
                    localStorage.setItem(field.id, field.value); 
                });
            });

            // Guardar valores de los campos ocultos en LocalStorage
            document.querySelectorAll('input[type="hidden"]').forEach((hiddenField) => {
                if (hiddenField.value) {
                    localStorage.setItem(hiddenField.id, hiddenField.value);
                }
            });
        }

        // Cargar los datos de LocalStorage al cargar la página
        function loadFromLocalStorage() {
            document.querySelectorAll('input, textarea, select').forEach((field) => {
                const savedValue = localStorage.getItem(field.id);
                if (savedValue) {
                    if (field.type === 'checkbox') {
                        field.checked = savedValue === 'true'; 
                    } else {
                        field.value = savedValue;
                    }
                }
            });

            // Cargar valores de los campos ocultos desde LocalStorage
            document.querySelectorAll('input[type="hidden"]').forEach((hiddenField) => {
                const savedValue = localStorage.getItem(hiddenField.id);
                if (savedValue) {
                    hiddenField.value = savedValue;
                }
            });

            
        }

        function navigateToStep(stepNumber) {
            let formAction = "";
            let previousStep = stepNumber - 1;

            if (localStorage.getItem("step" + stepNumber) !== "true") {
                alert("Por favor, complete el paso anterior antes de continuar.");
                return;  
            }
            if (stepNumber === 1) {
                formAction = "principalService";  
            } else if (stepNumber === 2) {
                formAction = "startServiceOffering";  
            } else if (stepNumber ===3) {
                formAction = "createService";  
            } 

            window.location.href = formAction;
        }

        // Ejecutar las funciones al cargar la página y marco el paso como activo
        window.onload = function () {
            loadFromLocalStorage();
            saveToLocalStorage();

            let activeStepElement = document.querySelector('.step.active');
    
            if (activeStepElement) {
                let currentStep = parseInt(activeStepElement.querySelector('.step-number').innerText);
                
                localStorage.setItem("step" + currentStep, "true");

                for (let i = 1; i <= currentStep; i++) {
                    localStorage.setItem("step" + i, "true");
                }
            }
        };

        function visibilidadContrasena() {
            var contrasena = document.getElementById("contrasena");
            if (contrasena.type === "password") {
                contrasena.type = "text";
            } else {
                contrasena.type = "password";
            }
        }
    </script>

   
</head>

<body onload="cargarCredenciales('participante'); cargarCredenciales('numeroDeRegistro'); cargarCredenciales('terminosYCondiciones');">
    
    <div class="steps">
        <div class="step" onclick="navigateToStep(1)">
            <div class="step-number">1</div>
            Start
        </div>
        <div class="step" onclick="navigateToStep(2)">
            <div class="step-number" >2</div>
            Service Offering
        </div>
        <div class="step active" onclick="navigateToStep(3)">
            <div class="step-number">3</div>
            Sign
        </div>
        
    </div>
    
    
    
    <div class="container">
        <form action="#" th:action="@{/uploadService}" method="POST" enctype="multipart/form-data">
            <h2>Import signed documents</h2>

            <div class="error-message" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>

            <div class="form-group">
                <label for="archivo">Archivo:</label>
                <input type="file" name="archivo" id="archivo" required />
            </div>

            <div class="form-group">
                <label for="seleccion">Alias:</label>
                <select name="seleccion" id="seleccion" required>
                    <option value="1">1</option>
                </select>
            </div>

            <div class="form-group">
                <label for="contrasena">Contraseña:</label>
                <input type="password" name="contrasena" id="contrasena" required />
                <input type="checkbox" name="check" id="check" onclick="visibilidadContrasena()" />
                <label for="check"> Mostrar contraseña</label>
            </div>

            <input type="hidden" id="jsonServices_sinproof" name="jsonServices_sinproof" th:value="${jsonServices_sinproof}" />

            <div class="search-box">
                <h3>Introduce el resto de tus credenciales</h3>
            
                <div class="search-row">
                    <label for="participanteSelect">Credencial de Participante:</label>
                    <select id="participanteSelect" onchange="actualizarCredencialSeleccionada('participante')"></select>
                </div>
                <div id="participanteStatus" class="search-status"></div>
                <input type="hidden" id="participanteInput" name="jsonParticipante" />
            
                <div class="search-row">
                    <label for="numeroDeRegistroSelect">Credencial de Número de Registro:</label>
                    <select id="numeroDeRegistroSelect" onchange="actualizarCredencialSeleccionada('numeroDeRegistro')"></select>
                </div>
                <div id="numeroDeRegistroStatus" class="search-status"></div>
                <input type="hidden" id="numeroDeRegistroInput" name="jsonNumeroRegistro" />
            
                <div class="search-row">
                    <label for="terminosYCondicionesSelect">Credencial de Términos y Condiciones:</label>
                    <select id="terminosYCondicionesSelect" onchange="actualizarCredencialSeleccionada('terminosYCondiciones')"></select>
                </div>
                <div id="terminosYCondicionesStatus" class="search-status"></div>
                <input type="hidden" id="terminosYCondicionesInput" name="jsonTerminosYCondiciones" />
            </div>

            <input type="hidden" id="verifiableId" name="verifiableId" th:value="${verifiableId}" />

            <button type="submit" style="margin-top: 20px;">Crear JWS</button>
        </form>
    </div>
</body>
</html>
